name: CI/CD Pipeline for React App

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build: #and test ?!
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4 # Use v4 for better security/performance
      
    - name: Set up Node.js
      uses: actions/setup-node@v4 # Use v4
      with:
        node-version: '20' # Specify a recent Node.js version

    - name: Install Dependencies
      run: npm install 

    - name: Run Tests
      run: npm test --if-present # Runs tests if a "test" script is defined in package.json

    - name: Lint Code # this step is for checking code quality
      run: npm run lint --if-present # Runs linting if a "lint" script is defined in package.json

    - name: Audit Dependencies # this step checks for vulnerabilities in dependencies
      run: npm audit || echo "Audit Failed, but continuing..." # Continue even if audit fails

    - name: Build Application
      run: npm run build

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './build' # Or './dist', match your build output folder


  docker-build:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/react-app:latest








